*{
    font-family: Lucida Bright;
    color: hsl(0, 0%, 0%);  
}

/* header{
    border: solid 4px crimson;
}
section{
    border: solid 4px #4def4d;
} */
footer{
    /* border: solid 4px rgb(0, 89, 255); */
}
nav  {  
    width: 15%;
    top: 11%;
    background: linear-gradient(90deg,#6636ff, #33ccff);
    position: fixed;
}
.nav_logo_container{
   
}
nav ul {
    padding: 0%;
    margin-top: 2%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
nav ul li{/*dando espacio a la barra de navegación par que no queden muy cerca los iconos*/
    margin-top: 5%;
}
nav ul li a{
    padding: 0;
    margin: 0;
}
nav ul li:first-child {/*selección por pseudo-clase, acá seleccione la 1mer lista de la barra de navegación */
    /*aca le estoy dando un fondo a los li(listas) del nav(barra de navegación) y ajustando el tamaño de su fondo para que quede del mismo tamaño que el de los otros iconos*/
    background: linear-gradient(90deg, #6636ff ,#25f2fd);
    padding: 10%;
}
nav ul li:nth-child(2){/*selección por pseudo-clase, acá seleccione la 2da lista de la barra de navegación */
    background: linear-gradient(90deg, #6636ff ,#25f2fd);
    padding: 6%;
}
nav ul li:nth-child(3){/*selección por pseudo-clase, acá seleccione la 3ra lista de la barra de navegación */
    background: linear-gradient(90deg, #6636ff ,#25f2fd);
    padding: 11%;
}
nav ul li:nth-child(4){/*selección por pseudo-clase, acá seleccione la 4ta lista de la barra de navegación */
    background: linear-gradient(90deg, #6636ff ,#25f2fd);
}
nav ul li a img{
    display: block;
}
.icon_redes_sociales{ /*centrando el icono de redes sociales*/
    padding-left: 15%;
}

.logo_SLL{
    margin: 0px 0px 20px;
    position: fixed;
    width: 15%;
    height: 60px;
    background: linear-gradient(50deg,hsl(240, 86%, 31%), #0befff);
    
}
.logo_SLL img{
    border-bottom-left-radius: 55%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 20%;
    border-top-left-radius: 50%;
    width: 40%;/*el with y el padding tienen estas propiedades para que la img sea responsy*/
    padding-left: 30%;
    padding-top: 4px;
}
.logo_SLL h6{
    margin-top: 0px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    text-shadow:1px .7px 1px #0befff;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}


.contenedor_cuerpo_menos_del_nav{/*esto lo hice para dar lugar a la parte de contacto y barra de navegación*/
    margin-left: 15%;
    background: linear-gradient(90deg, #30d6d6, #3399ff);/*para dar ese efecto al fondo, el primer color es el que esta a la izquierda y el segundo a la derecha, el valor "deg" nos dice como se inclinaran estos dos colores para generar el degradado*/
    box-sizing:border-box;
    margin-top: -22px;/*para que no sobre un espacio en blanco en la parte de arriba de la página, "px" para que no se modifique al hacerlo responsy */
    margin-bottom: -15.7px;/*para que no quede un espacio en blanco abajo */
    height:fit-content;
}

h1{
    text-align: center;
    padding-top: 2%;
    
}
.miImagen {/*esta es una imagen de mi*/
    width: 200px;
    height: 350px;
    border: 3px groove;
    border-radius: 30%;
    border-color: #33ffff;
    align-self: center;
    
}
.contenedor_img-p-de_la_introducción{
    display: flex;
    flex-direction: column;

}
/* .menu_git_li{
    position: fixed;
    background: linear-gradient(90deg, #9900ff, #33ffff);
    width: 5%;
    top:40% ;
} */
